# Site Configuration
PUBLIC_SITE_URL=https://yoursite.com
PUBLIC_SITE_NAME=Xeno - Creative Digital Agency

# Social Media
PUBLIC_FACEBOOK_URL=https://facebook.com/yourpage
PUBLIC_TWITTER_URL=https://twitter.com/yourhandle
PUBLIC_LINKEDIN_URL=https://linkedin.com/company/yourcompany
PUBLIC_INSTAGRAM_URL=https://instagram.com/yourhandle

# Contact Information
PUBLIC_EMAIL=example@gmail.com
PUBLIC_PHONE=+1 (234) 568-9023
